*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
.noSeleccionable
{
  -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body
{
  color: #0074D9;
}

.common-boxes
{
  margin: 50px auto;
  background-color: orange;
  padding: 20px 40px;
  width: 33%;
  border-radius: 5px;
  cursor: pointer;
}
.common-boxes:hover
{
  color: orange;
  background-color: #0074D9;
}

.title-games
{
  padding: 20px;
}
@media only screen and (max-width: 450px){
  .common-boxes
  {
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
  }
  .clearBoth
  {
    clear: both;
  }
}
