body
{
  max-width: 450px;
  margin: auto;
}
.wrapper-theChose
{
  width: 100%;
  margin: auto;
}

.choseLeft
{
  float: left;
  margin: 10px 15px;
}
.choseRight
{
  float: right;
  margin: 10px 15px;
}
.choseCenter
{
	margin: 10px auto;
  background-color: #0074D9;
  color: orange;
}
.than5
{
  font-size: 1.5em;
  padding: 20px;
}
.numbersTheChose
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0px;
}
.numbersTheChose div
{
  background-color: orange;
  border-radius: 3px;
  border: 1px solid black;
  width: 10%;
  padding: 15px 0px;
}
#numberMiddleTheChose
{
	background-color: yellow;
}
.bet
{
	background-color: #0074D9;
	color: orange;
  width: 100%;
  margin: auto;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.4em;
}
.bet input
{
	font-size: 1em;
	width: 60%;
  margin: 5px 0px;
}
.buttonBet
{
	background-color: orange;
	color: #0074D9;
	padding: 5px 20px;
	border: 2px solid gray;
	border-radius: 3px;
	cursor: pointer;
}
.coins
{
	background-color: #0074D9;
	padding: 5px 20px;
	border-radius: 20px;
	color: orange;
	width: 33%;
	float: right;
	margin: 20px;
}
@media only screen and (max-width: 450px){
  .choseRight,.choseLeft, .choseCenter
  {
    display: block;
    margin: auto;
  }

}
