*{
  margin: 0px;
  padding:0px;
  text-decoration: none;
}
.noseleccionable{
  cursor: pointer;
  -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body
{
	background-image: url("img/background.jpg");
}
header a
{
  color: black;
}
.gifHeadear
{
  padding: 25px;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: #85BAB2;
  box-shadow: 5px 5px 5px gray;
  text-align: center;
}
#timer
{
	background-color: #85BAB2;
	text-align: center;
	width: 50px;
    height: 50px;
    border-radius: 50%;
    float: right;
    margin: 20px 20px 0 0;
    box-shadow: 3px 3px 3px black;
    transform: translateY(3px);
    animation: contador infinite 1s;
}
@keyframes contador
{
 0%
 {
    box-shadow: 3px 3px 3px black;
    transform: translateY(3px);
 }
 25%
 {
    box-shadow: 3px 3px 3px black;
    transform: translateY(3px);
 }
 50%
 {
    box-shadow: 1px 1px 1px gray;
    transform: translateY(2px);
 }
 100%
 {
    box-shadow: 0;
    transform: translateY(0px);
 }
}
#timerP
{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.contenedor
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 900px;
	margin: auto;
}
.caja
{
	height: 200px;
	width: 200px;
	border: 5px solid black;
	margin: 20px 0px;
	border-radius: 180px;
	background-image: url("img/pregunta.jpg");
	box-shadow: 5px 5px 5px gray;
	cursor: pointer;
}
.caja:hover
{
	border: 5px solid white;
}
.caja img
{
	border-radius: 180px;
	max-width: 100%;
	min-height: 200px;
	display: none;
}
label
{
	display: block;
	text-align:center;
	font-size: 2.5em;
}
input
{
	-moz-appearance: textfield; /* Para quitar las flechas del input type number en mozilla */
	-webkit-appearance: none; /* Para quitar las flechas del input type number en chrome */
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    color: lightblue;
    text-align: center;
    font-size: 3em;
}
#classificacio, #level
{
	display: none;
	position: fixed;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	background: white;
	padding: 30px;
	border-radius: 5px;
	box-shadow: 5px 5px 5px gray;
	overflow: scroll;
}
#level
{
	display: block;
}
button
{
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 20px auto;
    cursor: pointer;
    border-radius: 4px;
}
table
{
	border-collapse: collapse;
    width: 100%;
    text-align: center;
}
td, th
{
	border: 1px solid #ddd;
    padding: 8px;
}
tr:nth-child(even)
{
	background-color: #f2f2f2;
}
tr:hover
{
	background-color: #ddd;
}
th
{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
@media (max-width: 900px) {
	.contenedor
	{
		width: 600px;
	}
  }
