*
{
	margin: 0px;
	padding: 0px;
}
body
{
	background-image: url("background.jpg");
}
header
{
	text-align: center;
	background-color: orange;
	color: white;
	padding: 30px;
	box-shadow: 3px 3px 3px gray;
}
a
{
	text-decoration: none;
	color: inherit;
}
ul 
{
	list-style-type: none;
	text-align: center;
	
}
ul li
{	
	background-color:orange;
	padding: 20px;
	width: 100px;
	margin: 20px auto;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}
ul li:hover
{
	background-color: white;
	color: orange;
}
