*
{
  margin: 0px;
  padding:0px;
  text-decoration: none;
  box-sizing: border-box;
}
body, html
{
  height: 100%;
  text-align: center;
  background-color: lightblue;
 /* overflow:scroll;*/
}
h1 
{
  padding: 30px 0 10px 0;
}
input
{
  border: 0;
  background: transparent;
  width: 20px;
  color: black;
  font-weight: bold;
}
button
{
  background: transparent;
  padding: 3px 5px;
  border: 2px solid black;
  cursor: pointer;
}
button:hover
{
  background: black;
  color: white;
}
#mare
{
  /*position: absolute;
  transform: translateX(-50%);
  left: 50%;*/
  padding: 30px 0;
  z-index: 100;
  margin: auto;
  width: 75vw;
  height: 75vw;
}
#manejador
{
  padding: 10px;
  width: 250px;
  height: 100px;
  margin: auto;
  border: 3px solid black;
  position: fixed;
  top: 0px;
  background-color: transparent;
  color: black;
  border-radius: 5px;
  left: 2%;
  z-index: 0;
  font-weight: bold;
}
.capsaPetita
{
  float: left;
  cursor: pointer;
  background-color: lightgray;
  border: 1px solid white;
  border-radius: 3px;
  height: 50px;
  width: 50px;
}
.guanyat, .perdut
{
  font-size: 2em;
  padding: 5px 0;
}
.guanyat
{
  color: green;
}
.perdut
{
  color: red;
}
.white
{
  background-color:#efefef;
}
