*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
@font-face {
  font-family: "Blade";
  src: url("Blade.ttf");
}
.noSeleccionable
{
  -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body
{
  color: #0074D9;
  cursor: url("../img/puntoDmira.png"), auto;
  height: 100vh;
  background-color: white;
}
header
{
  padding: 15vh 0 50px 0;
  color: red;
  font-family: "Blade";
  font-size: 2em;
}
a
{
  color: red;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
}
nav
{
  position: fixed;
  top:0;
  background-color: #0074D9;
  color: white;
  width: 100%;
  cursor: default;
  text-align: center;
  display: flex;
}
ul
{
  margin-left: 30px; 
}
ul li
{
  display: inline-block;
  padding: 15px 30px;
  cursor: pointer;
}
ul li:hover
{
  background-color: red;
}
.img-virus
{
  height: 150px;
  width: 150px;
  background-image: url("../img/virus.gif");
  background-size: 100% 100%;
  margin: auto;
  transition: 1s;
}
.puntoDmira
{
  height: 50px;
  width: 50px;
  background-image: url("../img/puntoDmira.png");
  background-size: cover;
}
input
{
  cursor: url("../img/puntoDmira.png"), auto;
  font-size: 70px;
}
footer
{
  background-color: #0074D9;
  position: fixed;
  bottom: 0;
  color: white;
  width: 100%;
  padding: 10px;
}