ul
{
	list-style-type: none;
	margin:0;
	padding: 0;
}

li
{
	margin-bottom: 10px;
}

label
{
	display: inline-block;
	width: 100px;
}

input[type="text"],input[type="password"]
{
	width: 200px;
	height: 20px;
	transition: all 1s;
	padding: 5px;
}

input[type="submit"], input[type="button"], input[type="reset"]
{
	padding: 10px 25px;
	background-color: white;
	border: solid 1px black;
	transition: all .3s;
	cursor: pointer;
}

input[type="submit"]:hover
{
	background-color: black;
	color: white;
	box-shadow: 1px 1px 1px black;
}

input[type="text"]:focus,input[type="password"]:focus
{
	width: 250px;
	outline: 0;
}

#avatar
{
	padding: 10px 25px;
	background-color: white;
	border: solid 1px black;
	transition: all .3s;
	cursor: pointer;
}
input[type="file"]
{
	width: 0px;
}