*
{
	box-sizing: border-box;
	font-family: 'Arvo', serif !important;
}
#mascara
{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
}
#mascara h1
{
	width: 100%;
	text-align: center;
	position: absolute;
	font-size: 9vw;
	z-index: 1;
	top: 50%;
	padding: 20px;
	transform: translateY(-50%);
	background-color: rgba(255,255,255,0.7);
}
#portada
{
	width: 500%;
	height: 100%;
	overflow: hidden;
	position: relative;
	animation: slide 10s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#portada>div
{
	background-size: cover;
	background-position: center;
	width: 20%;
	height: 100%;
	float: left;
}

#imgSlide1
{
	background-image: url(../img/slide1.jpg);
}
#imgSlide2
{
	background-image: url(../img/slide2.jpg);
}
#imgSlide3
{
	background-image: url(../img/slide3.jpg);
}
#imgSlide4
{
	background-image: url(../img/slide4.jpg);
}
#imgSlide5
{
	background-image: url(../img/slide5.jpg);
}

.menu
{
	width:100%; 
	background:#333; 
	color:white; 
	text-align:center;
	z-index: 1;
}

.menu ul li
{
	display: inline-block;
}

.menu ul li a
{
	text-decoration: none;
	display: inline-block;
	color: white;
	padding: 30px;
	font-size: 1.2em;
}

.menu ul li a:hover
{
	background-color: white;
	color: #333;
}

.menu ul li a:active
{
	background-color: green;
}

.fixed
{
	position:fixed; 
	top:0;
}

.tituloSeccion
{
	width: 100%;
	background-image: url(../img/texturaMadera.jpg);
	text-align: center;
	padding: 35px;
	background-size: cover;
	background-attachment: fixed;
}

.tituloSeccion>h1
{
	background-color: rgba(255,255,255,0.65);
	width: 40%;
	padding: .5em;
	margin: auto;
	font-size: 4em;
	border-radius: 4px;
}

section
{
	padding: 25px;
}
#about>#left
{
	float: left;
	width: 35%;
}
#about #image
{
	background-image: url(../img/yo.jpg);
	height: 350px;
	background-size: cover;
	background-position: center;
	border-radius: 4px;
	filter: grayscale(100%);
	transition: all 1s;
}

#about img
{
	display: inline-block;
	width: 35px;
	margin: 10px 10px;
	cursor: pointer;
	filter: blur(1px);
	transition: all 1s;
}

#about img:hover
{
	filter: blur(0);
	transform: rotate(360deg);
}

#about #image:hover
{
	filter: grayscale(0);
}

#about>#texto
{
	float: right;
	width: 59%;
	margin-left: 5%;
	text-align: justify;
}

section:after
{
	content: "";
	display: block;
	clear: both;
}

#about>#texto p
{
	line-height: 1.2;
	font-size: 1.1em;
	margin-top: 10px;
}

#hago
{
	padding: 0;
}

#hago>div
{
	float: left;
	width: 33.333%;
	height: 100vh;
	overflow: hidden;
}

#hago>div>div
{
	background-size: cover;
	background-position: center;
	filter: saturate(25%);
	transition: all 1s;
	width: 100%;
	height: 100%;
}

#hago>div>:hover
{
	filter: saturate(100%);
	transform: scale(1.5);
}

#hago1
{
	background-image: url(../img/hago1.jpg);
}

#hago2
{
	background-image: url(../img/hago2.jpg);
}

#hago3
{
	background-image: url(../img/hago3.jpg);
	background-position: -200px !important;
}

#proyectos
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	background-color: #F5F5F5;
}

#proyectos>div
{
	width: 300px;
	padding: 15px;
	margin: 20px;
	background-color: white;
	text-align: center;
}

#proyectos>div:hover
{
	box-shadow: 1px 1px 2px grey;
	cursor: pointer;
}

#proyectos>div>#imgProyecto
{
	width: 150px;
	height: 150px;
	margin: 25px auto;
	border-radius: 50%;
	background-image: url(../img/proyecto.jpg);
	background-size: cover;
	background-position: center;
}

#proyectos>div>h2
{
	font-size: 1.4em;
}

#proyectos>div>p
{
	text-align: justify;
}

@keyframes slide
{
    0% {left: 0%;}
    18% {left: 0%;}
    20% {left: -100%;}
    38% {left: -100%;}
    40% {left: -200%;}
    58% {left: -200%;}
    60% {left: -300%;}
    78% {left: -300%;}
    80% {left: -400%;}
    100% {left: -400%;}
}
