*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: #0074D9;
}
.noSeleccionable
{
  -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body
{
  background-color: #7FDBFF;
}
footer
{
  position: fixed;
  bottom: 0;
}
#title
{
  margin: 10px 0 0 0;
  font-style: italic;
}
.micrphone
{
  display: flex;
  justify-content: center;
}
.micrphone div
{
  padding: 30px 0px 0px 10px;
}
.micrphone div button
{
  cursor: pointer;
  height: 40px;
  border-radius: 3px;
  background-color: white;
  padding-top: 1px;
  border: 3px solid #0074D9;
}
select
{
  color: black;
}
section input
{
  background-color: #E5E5E5;
  color: #0074D9;
  width: 300px;
  font-size: 1.5em;
  padding: 4px;
  margin: 30px 0 0 0;
  border-radius: 5px;
  border: 3px solid #0074D9;
}
#circleAsk
{
  cursor: pointer;
  margin: 10px auto;
  text-decoration: none;
  background: #0074D9;
  color: #FFF;
  width: 150px;
  height: 150px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #0074D9;
  transition: .4s;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
#circleAsk h3
{
  background-color: inherit;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
}
#why
{
    display: none;
}
#divAnswer
{
  width: 90%;
  text-align: justify;
  margin: auto;
  background-color:  #E5E5E5;
  border-radius: 5px;
}
#answer
{
  font-weight: bold;
  font-size: 1.4em;
}
