body {
	background-image: url("fondo-acolchado.jpg");
	background-attachment: fixed;
}
p {
	font-family: Arial;
	font-size: 14px;
	color: rgb(255, 0, 0);
	background-color: rgba(255, 255, 255, 0.7);
}
h1{ 
	font-variant: small-caps;
	text-shadow: 2px 2px 4px black;
}
