@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('https://fonts.googleapis.com/css?family=Neucha');
body{
	background-color: #F24C27;
	font-family: 'Sansita', sans-serif;
}
#contenedor{
	width: 80%;
	margin: 50px auto;
	padding: 0 3%;
	background-color: white;
	box-shadow: 0 0 0 10px beige;
	border: medium dashed #5F5448;
	border-radius: 3px;
}
header h1{
	margin-top: 60px;
	font-size: 3.125em;
	text-align: center;
	color: #5F5448;
	text-shadow: 0 0 5px #5F5448;
}
nav{
	width: 20%;
	float: left;
}
nav a{
	width: 70%;
	display: block;
	margin-bottom: 30px;
	padding: 10px;
	color: #5F5448;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background-color: white;
	box-shadow: 0px 0px 0px 10px beige;
	border-radius: 3px;
	border: thin dotted #F24C27;
}
nav a:hover{
	color: #5F5448;
    background-color: #5F5448;
	border: thin dotted #5F5448;
	background-color: beige;
	box-shadow: 0px 0px 0px 10px #F24C27;
}
section{
	width: 80%;
	float: left;
}
article{
	margin-bottom: 30px;
	padding: 2%;
	box-shadow: 0px 0px 0px 10px beige;
	border-radius: 3px;
	border: thin dotted #F24C27;
}
article p{
	font-family: 'Neucha', cursive;
}
footer{
	clear: both;
	margin: 5% 0;
	text-align: center;
	border-top: medium dashed beige;
}

@media screen and (max-width: 880px) {
    nav{
    	width: 100%;
    }
    nav a{
    	width: 97%;
    }
    section{
    	width: 100%;
    }
}