/* importo las fuentes de google*/
@import url('https://fonts.googleapis.com/css?family=Joti+One');
/* Estilos de el título de la web*/
h1{
	font-style: italic;
	font-family: 'Joti One', cursive;
}
/*Pone la letra en rojo cuando paso el
cursor por encima*/
h1:hover{
	color:green;
}

a:active{ /*enlaces activos*/ 
	color:blue;
	font-weight: bold;
}
a:visited{ /*Enlaces visitados*/
	color:orange;
}
/*Agrupación de estilos a diferentes elementos*/
h3,p{
	color:red;
}
/*aplico estilos*/
.subrayado p{
	text-decoration: underline;
}
div p a{
	text-decoration: overline;
}
}

