@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
section{
    width: 35%;
    margin: 5% auto;
    box-shadow: 0 0 32px rgba(0,0,0,.75);
    padding: 3%;
    font-family: 'Architects Daughter', cursive;
    border-radius: 6px;
}
h1{
    font-size: 70px;
    color: red;
    text-shadow: 0 0 32px rgba(0,0,0,.75);
    text-align: center;
}
h2{
    font-size: 30px;
    text-align: center;
    margin-top: -40px;
}
form{
    margin: 15% auto;
}
fieldset{
    padding-top: 3%;
    margin-bottom: 3%;
    border: solid red thin;  
}
legend{
    font-size: 20px;
    font-weight: bold;
    border: solid red thin; 
    border-radius: 30px;
    padding: 1%;
}
form input[type="text"], form input[type="number"]{
    margin: 2%;
    width: 95%;
    border: solid red thin;
}
form input[type="text"].corto, form input[type="number"].corto{
    width: 40px;
}
form select{
    margin-left: 50%;
    border: solid red thin;
}
hr{
    height: 1px;
    border-width: 0px;
    background-color: red;
}
form textarea{
    width: 95%;
    height: 70px;
    border: solid red thin;
    resize: none;
}
form button{
    border: 0px;
    background-color: white;
    float: right;
    cursor: pointer;
}