/* General */
*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: black;
  height: 300vh;
  font-family: 'Cinzel', serif;
}
a{
  text-decoration: none;
  /*color: #330000;*/
  color:#3d6d3d;
  /* font-family: 'Stoke', serif; */
}
.noSeleccionable{
  -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.toTop{
  display: none;
  position: fixed;
  bottom: 5%;
  right: 5%;
}
/*Menu*/

nav{
  background-color:  black;
  /*background-image: url('../img/iron.jpe');*/
  repeat: no-repeat;
  /*color: #330000;*/
  color: #a7baa7;
  padding: 10px 0px;
  /*position: fixed;
  top: 0px;
  width: 100%;*/
  z-index: 1000;
}
.padding{
  padding-top:50px;
}

.logoNav{
   float: left;
   margin-left: 10px;
 }
.menu {
  list-style: none;
  float: right !important;
}
.menu li:hover{
  border-radius: 4px;
  text-decoration: underline;
}
.menu >  li{
  float: left;
  padding: 6px 20px;
  display: block;
}
.menu li ul{
  display:none;
  position:absolute;
  min-width:180px;
  list-style: none;
  background: black;
}
.menu li ul li{
  padding: 10px 5px;
}
.menu li:hover > ul {
				display:block;
			}
.navResponsive{
  display: none;
  padding-right: 10px;
  padding-top: 2px;
}

/*Imagen Header*/

#imgPortada{
	height: 95vh;
	background-image: url('../img/forest.jpg');
  /*background-image: url('../img/abbath1.jpg');*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
#imgPortada: hover{
	filter: blur(5px);
}

.divFlexHeader{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}


.divHeader{
  background-color: #666;
  padding: 30px 50px 20px 50px;
  border-radius: 5px;
  margin: 0px 20px;
  cursor: pointer;
}
.divHeader h3{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.divHeader:hover{
    background-color: white;
    color: #666;
}

.titleHeader:hover{
    color: red;
}


.titleSection{
  color: grey;
  text-align: center;
  padding: 40px 0px;
}

/*Noticias*/

.flexNews{
  display: flex;
  padding: 0px 20px;
}
.mainNew{
  width: 60%;
  color: white;
  padding: 20px;
  text-align: justify;
}
.mainNew img{
  float: right;
  width: 50%;
  margin: 10px;
}
.otherNews{
  width: 40%;
  color: white;
  border: 3px solid #666;
  border-radius: 4px;
  margin-left: 20px;
  height: 55vh;
  overflow: scroll;
  position: relative;

}
#searchNew{
  position: absolute;
  top: 0%;
  margin: 20px 0px;
  right: 5%;
}
.otherNews img{
  width: 30%;
  float: left;
  margin-right: 10px;

}
.otherNew{
  border-bottom: 3px solid #666;
  border-radius: 4px;
  padding: 10px;

}
#textMainNew {
  font-family: 'Stoke', serif;
}
#halls{
}
.contentSection{
}

/* Galery */
.galleryFlex{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:center;
  color: white;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    width: 25%;
    border-radius: 3px;
    filter: grayscale(100%);
}

div.gallery:hover {
    border: 1px solid #777;
    filter: grayscale(0%);
}

div.gallery img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

div.desc {
    padding: 15px;
    text-align: center;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 1100px){
  .menu{
    display: none;
    position: absolute;
    background-color: black;
    right: 0%;
    margin-top: 33px;
  }
.menu li:hover{
  border-radius: 4px;
  text-decoration: underline;
}
.menu >  li{
  padding: 6px 20px;
  display: block;
  float: none;
}
.menu li ul{
  display:block;
  position: static;
  min-width:180px;
  list-style: none;
  background: black;
}
.menu li ul li{
  padding: 10px 5px;
}
.menu li:hover > ul {
				display:block;
			}
.navResponsive{
  display: none;
  padding-right: 10px;
  padding-top: 2px;
}
.navResponsive{
    display: block;
    float: right;
  }
.flexNews{
    display: block;
  }
  .mainNew{
    width: 90%;
    margin: auto;
  }
  .otherNews{
    width: 90%;
    margin: 20px auto;
    height: 250px;
  }

}
