/*Importamos la tipografía "Ubuntu desde Google Fonts"*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
/*no suma tamaño los borses, paddings y margins*/
*{
    box-sizing: border-box;  
}
/*fondo color al body*/
body{
    background-color: khaki;
    font-family: 'Ubuntu', sans-serif;
}
/*caja contenedora de todos los elementos de la web*/
#contenedor{
    width: 55%;
    margin: auto;
}
/*Estilos cabacera*/
header{
    color: navy;
    font-variant: small-caps;
    font-size: 25px;
}
/*Estilos menú*/
nav{
    width: 20%;
    float: left;
}
/*Estilos section*/
section{
    width: 80%;
    float: left;
    margin-bottom: 15px;
    padding-left: 25px;
}

ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*Enlaces menú*/
a{
   display: block;
   width: 80%;
   color: white;
   border: 3px solid;
   background-color: navy;
   border-radius: 10px;
   text-align: center;
   padding: 10px 20px;
   text-decoration: none;
   margin-bottom: 10px;
   box-shadow: 2px 2px 2px black;
}

article
{
  border: solid 3px white;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px black;
  width: 100%;
  padding: 15px;
  color: navy;
}

h2
{
  font-variant: small-caps;
}

article p
{
  text-align: justify;
}

footer
{
  border-top: dotted 3px navy;
  color: navy;
  text-align: right;
  clear: both;
}

a:hover
{
  background-color: khaki;
  color: navy;
}







