*
{
  margin: 0px;
  padding:0px;
  text-decoration: none;
  box-sizing: border-box;
}
body, html
{
  background-image: url("img/background.jpg");
  height: 100%;
}
#mare
{
  width: 600px;
  height: 600px;
  background-color: black;
  float: left;
}
#veureArray
{
  width: 600px;
  height: 600px;
  background-color: green;
  color: white;
  margin-left: 50px;
  display:flex;
  flex-wrap: wrap;
  text-align: center;
  float: left;
}
.divPeq
{
  width: 50px;
  height: 50px;
  border: 1px solid white;
  background-color: green;
}
.capsa0
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 150px;
  height: 100px;
  background-color: black;
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 0;

}
.capsa1
{
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 2;
}
.capsa2
{
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 50px;
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 2;
}
.capsa2girada
{
  display: flex;
  flex-wrap: wrap;
  width: 50px;
  height: 200px;
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 2;
}
.capsa3
{
  display: flex;
  flex-wrap: wrap;
  width: 50px;
  height: 150px;
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 1;
}
.capsa3 .derecha
{
  position: relative;
  left: 50px;
  top: -50px;
}
.divArrayInfo
{
  width: 50px;
  height: 50px;
  background-color: black;
  border: 1px solid white;
}

p
{
  font-size: 2em;
}
