*
{
  margin: 0px;
  padding:0px;
  text-decoration: none;
  box-sizing: border-box;
}
body, html
{
  background-image: url("img/background.jpg");
  height: 100%;
}
#mare
{
  width: 600px;
  height: 600px;
  background-color: black;
  float: left;
}
#veureArray
{
  width: 600px;
  height: 600px;
  background-color: green;
  color: white;
  margin-left: 50px;
  display:flex;
  flex-wrap: wrap;
  text-align: center;
  float: left;
}
.capsa0
{
  width: 50px;
  height: 50px;
  background-color: green;
  position: absolute;
  left: 0%;
  top: 0%;
  border: 1px solid white;

}
.capsa1
{
  width: 150px;
  height: 150px;
  background-color: green;
  position: absolute;
  left: 0%;
  top: 0%;
  border: 1px solid white;
}
.capsa2
{
  width: 150px;
  height: 50px;
  background-color: green;
  position: absolute;
  left: 0%;
  top: 0%;
  border: 1px solid white;
}
.divArrayInfo
{
  width: 50px;
  height: 50px;
  background-color: black;
  border: 1px solid white;
}

p
{
  font-size: 2em;
}
