/*tipografía google fonts 'medienda'*/
@import url('https://fonts.googleapis.com/css?family=Merienda');
/*color fondo toda la página*/
body{
    background-color: mintcream;
}
/*título de la web*/
h1{
    text-align: center;
    text-shadow: 0px 2px 2px orange;
    font-family: 'Merienda', cursive;
    color: darkslategray;
    font-size: 40px;
}
/*menú*/
nav{
    display: flex;
    justify-content: space-around;
    width: 65%;
    margin: 0 auto;
    padding: 20px;
    border: 4px double darkslategray;
    border-radius: 40px; 
    background-color: white;
}
nav a{
    font-family: 'Merienda', cursive;
    color: darkslategray;
    font-size: 20px;
    text-shadow: 0px 2px 2px orange;
}

/*galería*/
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 65%;
    margin: 40px auto;
    padding: 3%;
    border: 4px double darkslategray;
    border-radius: 40px; 
    background-color: white;
}
/*cajas de fotos*/
.foto{
    width: 150px;
    height: 120px;
    margin-bottom: 1%;
    border: 1px solid darkslategray;
    border-radius: 4px; 
    box-shadow: 0px 2px 2px orange;
}
/*pie*/
footer{
    text-align: center;
}











