*
{
  margin: 0px;
  padding:0px;
  text-decoration: none;
  box-sizing: border-box;
}
body, html
{
  height: 100%;
  text-align: center;
  background-color: lightblue;
}
h1
{
	padding: 30px 0;
}
#manejador label
{
	display: inline-block;
	width: 100px;
}
#mare
{
	margin: auto;
	display: flex;
	width: 70vw;
	height: 30vh;
	padding-top: 40px;
	justify-content: space-between;
}
.capsaDau
{
	width: 100px;
	height: 100px;
	background-image: url('img/dadoGirando.gif');
	background-size: cover;
	
}
