html, body
{
	height: 100%;
	font-family: 'Sansita', sans-serif;
}

h1
{
	font-size: 2.5em;
	font-weight: bold;
	font-family: 'Barrio', cursive;
}

header
{	
	background-color: #2E2E2E;
	width: 100%;
	position: fixed;
	z-index: 1;
	transition: all 0.5s;
}

header nav
{
	width: 80%;
	text-align: center;
	margin: auto;
}

header ul a
{
	text-decoration: none;
	color: black;
	padding: 25px;
	display: block;
	background-color: #2E2E2E;
	font-size: 1.5rem;
	color: white;
}

header img
{
	float: left;
	width: 27px;
	margin-left: 11px;
    margin-top: 20px;
}

nav > ul > li
{
	display: inline-block;
}

nav li a:hover
{
	background-color: white;
	color: #2E2E2E;
}

nav > ul > li > ul
{
	display: none;
	position: absolute;
}

#desplegable:hover ul
{
	display: block;
}

.nav-up
{
	top: -73.33px;
}

#wrapper
{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

#container
{
	width: 170%;
	height: 100%;
}

#offCanvas
{
	width: 70.176%;
	height: 98%;
	float: left;
	padding: 74px 0px;
	left: -65%;
	position: fixed;
	background-color: #2E2E2E;
	animation: all 0.5s;
}

#offCanvas ul li a
{
	display: block;
	text-decoration: none;
	font-size: 1.5rem;
    color: white;
    padding: 15% 11%;
}

#offCanvas ul li:hover a
{
	background-color: white;
	color: #2E2E2E;
}

#offCanvas img
{
	float: right;
	width: 27px;
}

#contentWeb
{
	width: 58.82%;
	height: 100%;
	left: 0%;
	float: left;
	position: relative;
	background-color: lightblue;
}

/*---------------------------------------- CAPA 1 FONDO-------------------------------------------*/
#capa1
{
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-align: center;
	/*background-image: url("../images/responsive-is2coach2.jpg");
	background-position: 50%;
	background-size: 75%;
	background-repeat: no-repeat;
	text-align: center;*/
}

#capa1 h1
{
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    font-size: 8rem;
    z-index: 1;
}

@keyframes slidy 
{
	0% { left: 0%; }
	15% { left: 0%; }
	20% { left: -100%; }
	35% { left: -100%; }
	40% { left: -200%; }
	55% { left: -200%; }
	60% { left: -300%; }
	75% { left: -300%; }
	80% { left: -400%; }
	100% { left: -400%; }
}

div#slider
{  
	position: relative;
	width: 500%;
	height: 100%;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 30s slidy infinite;
	animation-direction: alternate;
}

div#slider div
{ 
	width: 20%;
	float: left;
	background-size: cover;
	background-position: center;
	height: 100%; 
}

#slide1
{
	background-image: url("../images/foto1.jpg");
}

#slide2
{
	background-image: url("../images/foto2.jpg");
}

#slide3
{
	background-image: url("../images/foto3.jpg");
}

#slide4
{
	background-image: url("../images/foto4.jpg");
}

#slide5
{
	background-image: url("../images/foto5.jpg");
}

/*#capa1 div
{
	padding: 3%;
	position: relative;
	top: 28%;
	background-color: rgba(255,255,255,0.6);
	transform: translateY(-50%);
	width: 40%;
	margin: auto;
}

#capa1 div h1
{
	font-size: 4.5em;
}*/

/*---------------------------------------- CAPA 2 VALORES-------------------------------------------*/

#capa2
{
	width: 100%;
	padding-top: 5%;
	padding-bottom: 5%;
	text-align: center;
	background: #FAFAFA;
}

#capa2 h1
{
	padding-bottom: 2%;
}

#capa2 h2
{
	margin-top: 8%;
	font-size: 2.5rem;
	padding-bottom: 5%;
}

#capa2 p
{
	font-size: 1.25rem;
}

#capa2 .valor
{
	display: inline-block;
	width: 21%;
	margin: 0% 6%;
	height: 310px;
	overflow: hidden;
}

#capa2 .valor #valor1
{
	background-image: url(../images/customer-reviews.svg);
}

#capa2 .valor #valor2
{
	background-image: url(../images/paper-plane.svg);
}

#capa2 .valor #valor3
{
	background-image: url(../images/responsive-design-symbol.svg);
}

#capa2 .valor .imgContainer
{
	width: 100%;
	height: 100%;
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.5s;
}

#capa2 .valor:hover .imgContainer, #capa2 .valor:active .imgContainer
{
	margin-top: -285px;
	opacity: 0;
}

/*---------------------------------------- CAPA 3 PROYECTOS-------------------------------------------*/

#capa3
{
	width: 94%;
	padding: 3%;
	padding-bottom: 7%;
	text-align: center;
	background-color: #E6E6E6;
}

#capa3 h1
{
	padding-bottom: 2%;
}

#capa3 #containerFicha
{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#capa3 .ficha
{
	padding:10px;
	width: 350px;
	height: 350px;
	margin: 0.5% 0.5%;
	background-color: white;
	border-radius: 2px;
	text-align: center;
}

#capa3 .ficha:first-child
{
	cursor: pointer;
}

#capa3 .ficha:hover
{
	box-shadow: 2px 2px 2px #BDBDBD;
}

#capa3 .ficha .imgContainerFicha
{
	background-image: url(../images/ficha.jpg);
	height: 225px;
	width: 100%;
	background-size: cover;
}

#capa3 h3
{
	font-size: 1.5em;
	font-weight: bold;
	font-style: italic;
	margin-top: 14px;
    margin-bottom: 28px;
}

.w3-closebtn
{
	cursor: pointer;
}

/*---------------------------------------- CAPA 4-------------------------------------------*/

#capa4
{
	text-align: center;
	display: flex;
	flex-wrap: wrap;
}

#capa4 #foto1, #capa4 #foto2, #capa4 #foto3, #capa4 #foto4, #capa4 #foto5, #capa4 #foto6
{
	height: 350px;
	width: 33.333%;
	float: left;
	overflow: hidden;
}

#capa4 div div
{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	filter: grayscale(100%);
	transition: all 1.5s;
}

#capa4 h3, #capa4 p
{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: white;
	font-size: 2.5em;
	transition: all 1s;
}

#capa4 p
{
	width: 75%;
	top: 120%;
	margin: auto;
}

#capa4 h3
{
	transition: all 1s;
}

#capa4 #foto1 div
{
	background-image: url("../images/foto1.jpg");
}

#capa4 #foto2 div
{
	background-image: url("../images/foto2.jpg");
}

#capa4 #foto3 div
{
	background-image: url("../images/foto3.jpg");
}

#capa4 #foto4 div
{
	background-image: url("../images/foto4.jpg");
}

#capa4 #foto5 div
{
	background-image: url("../images/foto5.jpg");
}

#capa4 #foto6 div
{
	background-image: url("../images/foto6.jpg");
}

#capa4 div:hover div
{
	transform: scale(1.2);
	filter: initial;
}

#capa4 div:hover div h3
{
	transform: rotate(180deg);
}

#capa4 div:hover h3
{
	top: -25%;
}
#capa4 div:hover p
{
	top: 50%;
	transform: translateY(-50%);
}
/*---------------------------------------- CAPA 5-------------------------------------------*/

#capa5
{
	width: 98%;
	padding-top: 25px;
	padding-left: 1%;
	padding-bottom: 2%;
	padding-right: 1%;
	background: white;
	height: 150px;
	clear: both;
}
#capa5 div
{
	height: 80px;
	width: 100%;
	background-color: #F5BCA9;
	overflow: hidden;
	text-align: center;
}
#capa5 div img
{
	height: 50px;
	display: inline-block;
	margin-top: 15px;
    margin-bottom: 25px;
    transition: margin-top 0.5s;

}
#capa5 div:hover img
{
	margin-top: -60px;
}

#capa5 div:hover
{
	box-shadow: 1px 1px 1px black;
}

#capa5 div span
{
	font-size: 3em;
	display: inline-block;
}

/*---------------------------------------- CAPA 6-------------------------------------------*/

#capa6Img
{
	float: left;
	width: 45%;
	background-image: url(../images/foto1.jpg);
	background-position: center;
	background-size: cover;
	height: 450px;
}

#capa6Text
{
	float: right;
	width: 45%;
}

@media all and (min-width: 100px)
{
	#capa6Img
	{
		width: 85%;
	}

	#capa6Text
	{
		width: 85%;
	}
}

@media all and (min-width: 880px)
{
	#capa6Img
	{
		width: 45%;
	}

	#capa6Text
	{
		width: 45%;
	}
}

/*---------------------------------------- CAPA 7-------------------------------------------*/
#capa7
{
	width: 100%;
	overflow: hidden;
}

#bigContainer
{
	width: 200%;
	position: relative;
}

#capa7 #capa7Img1
{
	float: left;
	left: -50%;
	width: 50%;
	background-image: url(../images/foto1.jpg);
	background-size: cover;
	height: 850px;
	position: relative;
	transition: all 1s;
	z-index: 1;
}

#oculatrCapa1
{
	position: absolute;
	width: 30%;
	background-color: white;
	right: 0;
	height: 850px;
}

#oculatrCapa2
{
	position: absolute;
	width: 35%;
	background-color: white;
	left: 0;
	height: 850px;
}

#capa7 #capa7Img2
{
	float: left;
	position: relative;
	left: -50%;
	width: 50%;
	background-image: url(../images/foto1.jpg);
	background-size: cover;
	height: 850px;
}

#capa7:hover #capa7Img1
{
	left: 0%;
}

/*---------------------------------------- CAPA 8-------------------------------------------*/
#capa8
{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

[id^="c8Foto"]
{
	width: 14.285%;
	height: 100%;
	background-size: cover;
	background-position: center;
	filter: grayscale(100%);
	transition: all .5s;
	position: absolute;
}

[id^="c8Foto"]:hover
{
	filter: initial;
	/*transform: scale(.8);*/
	width: 100%;
	left: 0% !important;
	z-index: 1;
}

#c8Foto1
{
	background-image: url(../images/ficha.jpg);
	left: 0;
}

#c8Foto2
{
	background-image: url(../images/foto1.jpg);
	left: 14.285%;
}

#c8Foto3
{
	background-image: url(../images/foto2.jpg);
	left: 28.57%;
}

#c8Foto4
{
	background-image: url(../images/foto3.jpg);
	left:42.855%;
}

#c8Foto5
{
	background-image: url(../images/foto4.jpg);
	left: 57.14%;
}

#c8Foto6
{
	background-image: url(../images/foto5.jpg);
	left: 71.425%;
}

#c8Foto7
{
	background-image: url(../images/foto6.jpg);
	left: 85.71%;
}

/*---------------------------------------- OTROS-------------------------------------------*/

.clearBoth
{
	clear: both;
}

.w3-modal
{
	z-index:3;
	visibility: hidden;
	padding-top:100px;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:auto;
	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0,0.4);
	transition: all 0.5s;
	opacity: 0;
}

.w3-modal-content
{
	margin:auto;
	background-color:#fff;
	position:relative;
	padding:0;
	outline:0;
	width:80%;
}

.w3-closebtn
{
	text-decoration:none;
	float:right;
	font-size:24px;
	font-weight:bold;
	color:inherit;
}

.w3-container
{
	padding:0.01em 16px;
	background-image: url("../images/foto1.jpg");
	background-size: cover;
	height: 450px;
}





@media all and (min-width: 100px)
{
	nav
	{
		display: none;
	}
	header
	{
		padding-bottom: 15px;
	}
	#capa2 .valor
	{
		width: 80%;
	}
	#capa2 .valor .imgContainer
	{
		background-size: 39%;
	}
	#capa4 #foto1, #capa4 #foto2, #capa4 #foto3, #capa4 #foto4, #capa4 #foto5, #capa4 #foto6
	{
		width: 100%;
	}
	[id^="c8Foto"]
	{
		width: 100%;
		height: 20%;
	}
}

@media all and (min-width: 590px)
{
	nav
	{
		display: initial;
	}
	header
	{
		padding-bottom: 0;
	}
	#iconNavegador,#offCanvas
	{
		display: none;
	}
}

@media all and (min-width: 760px)
{
	#capa4 #foto1, #capa4 #foto2, #capa4 #foto3, #capa4 #foto4, #capa4 #foto5, #capa4 #foto6
	{
		width: 50%;
	}
}

@media all and (min-width: 1100px)
{
	#capa2 .valor
	{
		width: 21%;
	}
	#capa2 .valor .imgContainer
	{
		background-size: 80%;
	}
	[id^="c8Foto"]
	{
		width: 14.285%;
		height: 100%;
	}
}

@media all and (min-width: 1352px)
{
	#capa4 #foto1, #capa4 #foto2, #capa4 #foto3, #capa4 #foto4, #capa4 #foto5, #capa4 #foto6
	{
		width: 33.33%;
	}
}


