h1
{
	text-align: center;
	font-family: 'Supermercado One', cursive;
	font-size: 4.5em;
	text-shadow: 2px 2px 2px black;
	color: #B63636;
	text-transform: uppercase;
}

#caja
{
	width: 60%;
	border: solid 1px #B63636;
	padding: 55px;
	margin: auto;
}

#caja p
{
	color: red;
	font-family: Arial;
	line-height: 24px;
	font-size: 14px;
}