/*estilos a todos los párrafos*/
p{
	color: blue;
	text-align: center;
}
/*estilos a todos los elementos con clase "remarcado"*/
.remarcado{
	background-color: red;
}
/*estilos a todos los párrafos dentro de la clase "remarcado"*/
.remarcado p{
	color: white;
}