@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
    font-family: 'Montserrat', sans-serif;
}
nav{
    margin-right: 20px;
}
nav a{
    display: inline-block;
    width: 80px;
    padding: 10px;
    text-align: center;
    color: black;
    background-color: #ddd;
    text-decoration: none;
}
nav a:hover{
    background-color: #bbb;
    border-bottom: 3px solid blue;
}
nav a:active{
    border-bottom: 3px solid red;
}
header{
    border: 1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img{
    width: 100px;
    height: 100px;
    margin-left: 20px;
}
#img_responsive{
    display: none;
}

@media only screen and (max-width: 1100px) {
    nav{
        display: none;
    }
    #img_responsive{
        width: 100px;
        height: 50px;
        display: block;
        margin-right: 20px;
    }
}