h1
{
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 30px;
}

div
{
	height: 150px;
	width: 30%;
	background-color: red;
	transition: all 2s;
	position: relative;
	overflow: hidden;
}

div:hover
{
	width: 100%;
}

p
{
	font-size: 10px;
	position: relative;
	left: 200px;
	width: 64%;
	text-align: justify;
}