*{
    box-sizing: border-box;
    font-family: "Lucida Sans", sans-serif;
}
header{
    height: 100px;
    padding: 10px;
    background-color: #9933CC;
    color: white;
}
section h1{
    margin: 0;
}
main{
    padding: 15px;
}
nav a{
    display: block;
    background-color: #33B5E5;
    padding: 8px;
    margin-bottom: 8px;
    box-shadow: 1px 2px 2px grey;
    text-decoration: none;
    color: white;
}
nav a:hover{
    background-color: #0099CC;
}
section{
    padding: 0 22px;
    text-align: justify;
}
aside{
    background-color: #33B5E5;
    text-align: center;
    color: white;
    box-shadow: 1px 2px 2px grey;
    padding: 15px;
    margin-bottom: 15px;
}
footer{
    background-color: #0099CC;
    color: white;
    text-align: center;
    padding: 25px;
}



.row:after{/*crea contenido después de la creación del DIV con clase "row"*/
    content: "";
    clear: both;
    display: block;
}
[class*="col-"]{ /*Todas las clases que empiezan por "col-"*/
    float: left;
    padding: 15px;
}

/*Tamaño de la columnas para visualización en pantalla escritorio DESKTOP*/
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

/*cambiamos tamaños de los elementos de la clase .row 
para pantallas con ancho menores de 768px*/
@media screen and (max-width: 768px){
    [class*="col-"]{
        width: 100%;
    }
}