*{
    font-family: "Arial", "Cursive";
    text-decoration: none;
    margin: 0;
    padding: 0;
}

header{
    text-align: right;
    vertical-align: middle;
    padding-right: 25px;
    margin-top: 15px;
}

header a{
    color: grey;
    font-size: 13px;
    padding: 0 10px;
    font-weight: bold;
}

header a:hover{
    color: #4285F4;
    text-decoration: underline;
}

header img{
    vertical-align: middle;
}

#puntos
{
    display: inline-block;
}

#puntosImg
{
    cursor: pointer;
}

#desplegable
{
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
}

#boton{
    background-color: #4285F4;
    color: white;
    padding: 10px;
    border-radius: 3px;
}
section{
    width: 45%;
    margin: auto;
    margin-top: 90px;
}
section div{
    text-align: center;
}
section img{
    margin-bottom: 20px;
}
.botones{
    color: #757575;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 2px;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 16px;
    margin: 0 3px;
}
.botones:hover{
    border: 1px solid #ccc;
    color: black;
}
section p{
    font-size: small;
    margin-top: 30px;
}
section p a:hover{
    text-decoration: underline;
}
footer{
    background-color: #f8f8f8;
    height: 100px;
    border-top: 1px solid #ccc;
    position: absolute;
    bottom: 0;
    width: 100%;
}
#info{
    height: 50px;
    border-top: 1px solid #ccc;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.izq{
    float: left;
    color: #666;
    vertical-align: middle;
    margin-top: 15px;
    margin-left: 20px;
    font-size: small;
}
.der{
    float: right;
    color: #666;
    vertical-align: middle;
    margin-top: 15px;
    margin-right: 20px;
    font-size: small;
}
footer p{
    color: #666;
    margin-left: 20px;
    margin-top: 15px;
}
footer a:hover{
    text-decoration: underline;
}

#puntos:hover #desplegable
{
    display: inline;
}














