/* Estilos CSS para el archivo 01-Formularios.html */
label+input[required]:before, textarea[required]:before, select[required]:before {
	color: red;
	content: "*";
	text-weight: bold;
}
input[type=radio], input[type=checkbox] { 
	border: solid 2px blue; 
	color: yellow;
	background-color: red;
}
input:focus { border: solid 1px red; }
