body
{
	margin: 0;
}

img
{
	margin: 15px;
	opacity: 0.5;
}

img:hover
{
	opacity: 1;
}

#caja1
{
	margin: 15px;
	width: 150px;
	height: 150px;
	background-color: rgba(0,128,0,0.3);
}

#seccion1
{
	background: url(paisaje-típico.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 650px;
	position: relative;
}

#cajaTituloSeccion1
{
	background-color: rgba(255,255,255,0.5);
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	padding: 20px 65px;
}

#tituloSeccion1
{
	margin: 0;
	font-size: 80px;
}

#caja2
{
	margin: 15px;
	height: 250px;
	width: 250px;
	border-width: 5px;
	border: solid 2px black;
	border-radius: 10px;
}

#caja2:hover
{
	cursor: pointer;
}

#caja3
{
	margin: 15px;
	height: 250px;
	width: 250px;
	border-width: 5px;
	border: solid 2px black;
	border-radius: 50%;
}

a
{
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-style: italic;
}

p
{
	font-variant: small-caps;
}

#textoResaltado
{
	font-weight: bold;
	font-style: italic;
}

#sombra
{
	text-shadow: 10px 10px 10px red;
}

#cajaSombra
{
	margin: 15px;
	height: 450px;
	width: 450px;
	border: solid 1px black;
	box-shadow: 5px 5px 5px black;
}

